[user]
  name = Trevor Royer
  email = troyer@redhat.com
	signingkey = 7D2F2DE1
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[credential]
  helper = cache --timeout=43200
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = true
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
